In [1]:
import pandas as pd
import sqlite3

In [2]:
#loading data; it is huge so this needs separate cell
dfog = pd.read_csv(r"C:\Users\Norah\Downloads\dataset_2025-12-01T17_13_53.256433917Z_DEFAULT_INTEGRATION_IMF.STA_BOP_21.0.0.csv")

C:\Users\Norah\AppData\Local\Temp\ipykernel_42084\3694255994.py:2: DtypeWarning: Columns (5,8,20,22,24,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  dfog = pd.read_csv(r"C:\Users\Norah\Downloads\dataset_2025-12-01T17_13_53.256433917Z_DEFAULT_INTEGRATION_IMF.STA_BOP_21.0.0.csv")

In [4]:
dfog

,COUNTRY,BOP_ACCOUNTING_ENTRY,INDICATOR,UNIT,FREQUENCY,TIME_PERIOD,OBS_VALUE,SCALE,PRECISION,DECIMALS_DISPLAYED,...,ACCESS_SHARING_LEVEL,ACCESS_SHARING_NOTES,SECURITY_CLASSIFICATION,SOURCE,SHORT_SOURCE_CITATION,FULL_SOURCE_CITATION,LICENSE,SUGGESTED_CITATION,KEY_INDICATOR,SERIES_NAME
0,Denmark,Debit/Expenditure,All modes of transport; freight,US dollar,Quarterly,1975-Q1,93.575958,Millions,Millions,NaN,...,Public (Unrestricted),NaN,Public or Unrestricted,NaN,Country authorities; National Summary Data Pag...,NaN,� International Monetary Fund Copyright. All R...,International Monetary Fund. 2024. Balance of ...,NaN,NaN
1,Denmark,Debit/Expenditure,All modes of transport; freight,US dollar,Quarterly,1975-Q2,94.562000,Millions,Millions,NaN,...,Public (Unrestricted),NaN,Public or Unrestricted,NaN,Country authorities; National Summary Data Pag...,NaN,� International Monetary Fund Copyright. All R...,International Monetary Fund. 2024. Balance of ...,NaN,NaN
2,Denmark,Debit/Expenditure,All modes of transport; freight,US dollar,Quarterly,1975-Q3,87.510146,Millions,Millions,NaN,...,Public (Unrestricted),NaN,Public or Unrestricted,NaN,Country authorities; National Summary Data Pag...,NaN,� International Monetary Fund Copyright. All R...,International Monetary Fund. 2024. Balance of ...,NaN,NaN
3,Denmark,Debit/Expenditure,All modes of transport; freight,US dollar,Quarterly,1975-Q4,92.697370,Millions,Millions,NaN,...,Public (Unrestricted),NaN,Public or Unrestricted,NaN,Country authorities; National Summary Data Pag...,NaN,� International Monetary Fund Copyright. All R...,International Monetary Fund. 2024. Balance of ...,NaN,NaN
4,Denmark,Debit/Expenditure,All modes of transport; freight,US dollar,Quarterly,1976-Q1,96.629360,Millions,Millions,NaN,...,Public (Unrestricted),NaN,Public or Unrestricted,NaN,Country authorities; National Summary Data Pag...,NaN,� International Monetary Fund Copyright. All R...,International Monetary Fund. 2024. Balance of ...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12017205,Bhutan,Credit/Revenue,"Other investment, Investment income, interest ...",Domestic currency,Annual,NaN,NaN,Millions,NaN,NaN,...,NaN,NaN,NaN,NaN,Country authorities; National Summary Data Pag...,NaN,� International Monetary Fund Copyright. All R...,International Monetary Fund. 2024. Balance of ...,NaN,NaN
12017206,NaN,Net (credits less debits),"Direct investment, Equity and investment fund ...",Domestic currency,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Country authorities; National Summary Data Pag...,NaN,� International Monetary Fund Copyright. All R...,International Monetary Fund. 2024. Balance of ...,NaN,NaN
12017207,Slovak Republic,Credit/Revenue,Personal transfers (current transfers between ...,Domestic currency,Annual,NaN,NaN,Millions,NaN,NaN,...,NaN,NaN,NaN,NaN,Country authorities; National Summary Data Pag...,NaN,� International Monetary Fund Copyright. All R...,International Monetary Fund. 2024. Balance of ...,NaN,NaN
12017208,Malta,"Assets, Net acquisition of financial assets","Portfolio investment, Equity",Euro,Annual,NaN,NaN,Millions,NaN,NaN,...,NaN,NaN,NaN,NaN,Country authorities; National Summary Data Pag...,NaN,� International Monetary Fund Copyright. All R...,International Monetary Fund. 2024. Balance of ...,NaN,NaN
12017209,Malta,"Assets, Net acquisition of financial assets","Portfolio investment, Investment fund shares/u...",Euro,Annual,NaN,NaN,Millions,NaN,NaN,...,NaN,NaN,NaN,NaN,Country authorities; National Summary Data Pag...,NaN,� International Monetary Fund Copyright. All R...,International Monetary Fund. 2024. Balance of ...,NaN,NaN

In [17]:
dfog = dfog[dfog["FREQUENCY"] == "Annual"]
dfog = dfog[dfog["UNIT"] == "US dollar"]
dfog = dfog.iloc[:, 0:7]
dfog = dfog.drop(columns=["FREQUENCY","UNIT"])
dfog

,COUNTRY,BOP_ACCOUNTING_ENTRY,INDICATOR,TIME_PERIOD,OBS_VALUE
60,Denmark,Debit/Expenditure,All modes of transport; freight,1975,368.345474
61,Denmark,Debit/Expenditure,All modes of transport; freight,1976,408.169286
62,Denmark,Debit/Expenditure,All modes of transport; freight,1977,455.790084
63,Denmark,Debit/Expenditure,All modes of transport; freight,1978,553.288712
64,Denmark,Debit/Expenditure,All modes of transport; freight,1981,834.962546
...,...,...,...,...,...
12016789,Somalia,"Liabilities, Net incurrence of liabilities",Direct investor in direct invesment enterprise...,NaN,NaN
12016907,Yemen Arab Republic,Net (net acquisition of financial assets less ...,"Other investment, Loans, Adjusted using IMF ac...",NaN,NaN
12016933,"Yemen, People's Democratic Republic of",Net (net acquisition of financial assets less ...,"Other investment, Loans, Adjusted using IMF ac...",NaN,NaN
12016953,Rwanda,Liabilities,"Other investment, Debt instruments other than ...",NaN,NaN
12017050,Turkmenistan,Net (net acquisition of financial assets less ...,"Other investment, Loans, Adjusted using IMF ac...",NaN,NaN

gdp credit

In [212]:
df = dfog[dfog["BOP_ACCOUNTING_ENTRY"] == "Credit/Revenue"]
df = df.drop(columns=["BOP_ACCOUNTING_ENTRY"])
df

,COUNTRY,INDICATOR,TIME_PERIOD,OBS_VALUE
150,Denmark,"Social benefits, Financial corporations, nonfi...",2005,53.928718
151,Denmark,"Social benefits, Financial corporations, nonfi...",2006,64.292377
152,Denmark,"Social benefits, Financial corporations, nonfi...",2007,80.250877
153,Denmark,"Social benefits, Financial corporations, nonfi...",2008,120.178930
154,Denmark,"Social benefits, Financial corporations, nonfi...",2009,154.749760
...,...,...,...,...
12015711,New Zealand,"Other investment, Investment income, interest ...",NaN,NaN
12016061,Czechoslovakia,"Other investment, Investment income, interest ...",NaN,NaN
12016483,Yemen Arab Republic,"Other investment, Investment income, interest ...",NaN,NaN
12016509,"Yemen, People's Democratic Republic of","Other investment, Investment income, interest ...",NaN,NaN
12016768,"Yugoslavia, Socialist Federal Republic of","Other investment, Investment income, interest ...",NaN,NaN

In [213]:
country = pd.read_excel("IMFCode.xlsx",sheet_name='Country')

In [ ]:
#sometimes one doesnt work
#df['OBS_VALUE'] = df['OBS_VALUE']*1000000
df.loc[df['SCALE'] == 'Millions', 'OBS_VALUE'] *= 1_000_000

df = df.dropna(subset=['TIME_PERIOD'])
df['TIME_PERIOD'] = df['TIME_PERIOD'].astype(str).str.strip()

workertransferrec = df[df['INDICATOR'] == "Secondary income, Financial corporations, nonfinancial corporations, households, and NPISHs"]
workertransferrec = workertransferrec.drop(columns="INDICATOR")
workertransferrec = workertransferrec.pivot(index='COUNTRY',columns='TIME_PERIOD',values='OBS_VALUE')
workertransferrec = workertransferrec.iloc[:,8:77]
workertransferrec = workertransferrec.reset_index()
workertransferrec.columns.name = None 
workertransferrec = country.merge(workertransferrec, on='COUNTRY', how='left')
workertransferrec = workertransferrec.drop(columns=['COUNTRY'])

workercomrec = df[df['INDICATOR'] == "Compensation of employees"]
workercomrec = workercomrec.drop(columns="INDICATOR")
workercomrec = workercomrec.pivot(index='COUNTRY',columns='TIME_PERIOD',values='OBS_VALUE')
workercomrec = workercomrec.iloc[:,8:73]
workercomrec = workercomrec.reset_index()
workercomrec.columns.name = None 
workercomrec = country.merge(workercomrec, on='COUNTRY', how='left')
workercomrec = workercomrec.drop(columns=['COUNTRY'])

incsecrec = df[df['INDICATOR'] == "Secondary income"]
incsecrec = incsecrec.drop(columns="INDICATOR")
incsecrec = incsecrec.pivot(index='COUNTRY',columns='TIME_PERIOD',values='OBS_VALUE')
incsecrec = incsecrec.iloc[:,12:77]
incsecrec = incsecrec.reset_index()
incsecrec.columns.name = None 
incsecrec = country.merge(incsecrec, on='COUNTRY', how='left')
incsecrec = incsecrec.drop(columns=['COUNTRY'])

C:\Users\Norah\AppData\Local\Temp\ipykernel_42084\2480560450.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['OBS_VALUE'] = df['OBS_VALUE']*1000000

In [210]:
gdp = pd.read_excel("GDP2.xlsx",skiprows=4)
gdp = gdp.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
countrygdp = pd.read_excel("IMFCode.xlsx",sheet_name="WDICountry")
gdp = countrygdp.merge(gdp, on="Country Name", how="left")
gdp = gdp.drop(columns=["Country Name"])
gdp

,Country,FIPS_CODE,1960,1961,1962,1963,1964,1965,1966,1967,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.715223e+10,NaN
1,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.147017e+10,1.198867e+10,1.325827e+10,1.537951e+10,1.558511e+10,1.524146e+10,1.803201e+10,1.901724e+10,2.354718e+10,2.717774e+10
2,Algeria,DZA,2.723615e+09,2.434747e+09,2.001445e+09,2.702982e+09,2.909316e+09,3.136284e+09,3.039859e+09,3.370870e+09,...,1.874939e+11,1.807638e+11,1.898809e+11,1.945545e+11,1.934597e+11,1.648734e+11,1.862312e+11,2.256385e+11,2.476262e+11,2.636198e+11
3,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.487516e+10,8.039694e+10
4,Argentina,ARG,1.586547e+10,2.013222e+10,1.833769e+10,1.827212e+10,2.560525e+10,2.834471e+10,2.863047e+10,2.425667e+10,...,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.857405e+11,4.865641e+11,6.327901e+11,6.460753e+11,6.332667e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,"Venezuela, Bolivarian Republic",VEN,7.663938e+09,8.067267e+09,8.814310e+09,9.608717e+09,8.192414e+09,8.427778e+09,8.781333e+09,9.250000e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,Viet Nam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.392583e+11,2.570960e+11,2.813536e+11,3.101065e+11,3.343653e+11,3.466157e+11,3.664748e+11,4.134452e+11,4.338577e+11,4.763882e+11
185,Yemen,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.244449e+10,3.131783e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN,NaN
186,Zambia,ZMB,6.987397e+08,6.823597e+08,6.792797e+08,7.043397e+08,8.226397e+08,1.061200e+09,1.239000e+09,1.340639e+09,...,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10,2.632578e+10
187,Zimbabwe,ZWE,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,...,1.996306e+10,2.054876e+10,5.107473e+10,3.415606e+10,2.571566e+10,2.686856e+10,2.724051e+10,3.278966e+10,3.523137e+10,4.418770e+10

In [218]:
with pd.ExcelWriter('GDP+IMFCredit1.xlsx', engine='xlsxwriter') as writer:
    workertransferrec.to_excel(writer, sheet_name='workertransferrec')
    workbook = writer.book
    worksheet1 = workbook.add_worksheet('workertransferrec1')
    workercomrec.to_excel(writer, sheet_name='workercomrec')
    workbook = writer.book
    worksheet2 = workbook.add_worksheet('workercomrec1')
    incsecrec.to_excel(writer, sheet_name='incsecrec')
    workbook = writer.book
    worksheet3 = workbook.add_worksheet('incsecrec1')
    gdp.to_excel(writer, sheet_name='GDP')

GDP Tables debit

In [203]:
df = dfog[dfog["BOP_ACCOUNTING_ENTRY"] == "Debit/Expenditure"]
df = df.drop(columns=["BOP_ACCOUNTING_ENTRY"])
df

,COUNTRY,INDICATOR,TIME_PERIOD,OBS_VALUE
60,Denmark,All modes of transport; freight,1975,368.345474
61,Denmark,All modes of transport; freight,1976,408.169286
62,Denmark,All modes of transport; freight,1977,455.790084
63,Denmark,All modes of transport; freight,1978,553.288712
64,Denmark,All modes of transport; freight,1981,834.962546
...,...,...,...,...
12013161,Yemen Arab Republic,"Other investment, Investment income, interest ...",NaN,NaN
12013268,"Yugoslavia, Socialist Federal Republic of","Other investment, Investment income, interest ...",NaN,NaN
12014062,Belgium-Luxembourg,"Other investment, Investment income, interest ...",NaN,NaN
12014112,Somalia,"Other investment, Investment income, interest ...",NaN,NaN
12015759,Belgium-Luxembourg,"Portfolio investment, Total financial assets/l...",NaN,NaN

In [204]:
df['OBS_VALUE'] = df['OBS_VALUE']*1000000
df = df.dropna(subset=['TIME_PERIOD'])
df['TIME_PERIOD'] = df['TIME_PERIOD'].astype(str).str.strip()

workercompaid = df[df['INDICATOR'] == "Compensation of employees"]
workercompaid = workercompaid.drop(columns="INDICATOR")
workercompaid = workercompaid.pivot(index='COUNTRY',columns='TIME_PERIOD',values='OBS_VALUE')
workercompaid = workercompaid.iloc[:,8:77]
workercompaid = workercompaid.reset_index()
workercompaid.columns.name = None 
workercompaid = country.merge(workercompaid, on='COUNTRY', how='left')
workercompaid = workercompaid.drop(columns=['COUNTRY'])

workertransferpaid = df[df['INDICATOR'] == "Secondary income, Financial corporations, nonfinancial corporations, households, and NPISHs"]
workertransferpaid = workertransferpaid.drop(columns="INDICATOR")
workertransferpaid = workertransferpaid.pivot(index='COUNTRY',columns='TIME_PERIOD',values='OBS_VALUE')
workertransferpaid = workertransferpaid.iloc[:,8:73]
workertransferpaid = workertransferpaid.reset_index()
workertransferpaid.columns.name = None 
workertransferpaid = country.merge(workertransferpaid, on='COUNTRY', how='left')
workertransferpaid = workertransferpaid.drop(columns=['COUNTRY'])


incpayment = df[df['INDICATOR'] == "Secondary income"]
incpayment = incpayment.drop(columns="INDICATOR")
incpayment = incpayment.pivot(index='COUNTRY',columns='TIME_PERIOD',values='OBS_VALUE')
incpayment = incpayment.iloc[:,12:77]
incpayment = incpayment.reset_index()
incpayment.columns.name = None 
incpayment = country.merge(incpayment, on='COUNTRY', how='left')
incpayment = incpayment.drop(columns=['COUNTRY'])

C:\Users\Norah\AppData\Local\Temp\ipykernel_42084\3246891012.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIME_PERIOD'] = df['TIME_PERIOD'].astype(str).str.strip()

In [205]:
with pd.ExcelWriter('GDP+IMFDebit.xlsx') as writer:
    workercompaid.to_excel(writer, sheet_name='workercompaid')
    workbook = writer.book
    worksheet1 = workbook.add_worksheet('workercompaid1')
    workertransferpaid.to_excel(writer, sheet_name='workertransferpaid')
    workbook = writer.book
    worksheet1 = workbook.add_worksheet('workertransferpaid1')
    incpayment.to_excel(writer, sheet_name='incpayment')
    workbook = writer.book
    worksheet1 = workbook.add_worksheet('incpayment1')
    gdp.to_excel(writer, sheet_name='GDP')

GDP Table Liability

In [291]:
netdb = pd.read_csv(r"C:\Users\Norah\Downloads\dataset_2025-12-19T17_02_18.592467952Z_DEFAULT_INTEGRATION_IMF.STA_IIP_13.0.0.csv")

C:\Users\Norah\AppData\Local\Temp\ipykernel_42084\806113819.py:1: DtypeWarning: Columns (5,8,20,22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  netdb = pd.read_csv(r"C:\Users\Norah\Downloads\dataset_2025-12-19T17_02_18.592467952Z_DEFAULT_INTEGRATION_IMF.STA_IIP_13.0.0.csv")

In [292]:
netdb = netdb[netdb["FREQUENCY"] == "Annual"]
netdb = netdb[netdb["UNIT"] == "US dollar"]
netdb = netdb[netdb["BOP_ACCOUNTING_ENTRY"] == "Net (assets less liabilities)"]
netdb = netdb.drop(columns=["FREQUENCY","UNIT","BOP_ACCOUNTING_ENTRY"])
netdb = netdb.iloc[:,0:5]

netdb

,COUNTRY,INDICATOR,TIME_PERIOD,OBS_VALUE,SCALE
122,Nicaragua,"Net International Investment Position, Adjuste...",2001,-7681.060658,Millions
123,Nicaragua,"Net International Investment Position, Adjuste...",2002,-8420.286322,Millions
124,Nicaragua,"Net International Investment Position, Adjuste...",2003,-9164.882982,Millions
125,Nicaragua,"Net International Investment Position, Adjuste...",2004,-8012.371661,Millions
126,Nicaragua,"Net International Investment Position, Adjuste...",2005,-6823.623298,Millions
...,...,...,...,...,...
3041228,"Slovenia, Republic of","Net International Investment Position, Adjuste...",2020,-9082.449222,Millions
3041229,"Slovenia, Republic of","Net International Investment Position, Adjuste...",2021,-4550.206434,Millions
3041230,"Slovenia, Republic of","Net International Investment Position, Adjuste...",2022,-953.315888,Millions
3041231,"Slovenia, Republic of","Net International Investment Position, Adjuste...",2023,1638.024078,Millions
3041232,"Slovenia, Republic of","Net International Investment Position, Adjuste...",2024,6963.623311,Millions

In [293]:
netdb.loc[netdb['SCALE'] == 'Millions', 'OBS_VALUE'] *= 1_000_000
netdb = netdb.drop(columns="INDICATOR")
net = netdb.drop(columns="SCALE")

In [294]:
net

                       COUNTRY TIME_PERIOD     OBS_VALUE
122                  Nicaragua        2001 -7.681061e+09
123                  Nicaragua        2002 -8.420286e+09
124                  Nicaragua        2003 -9.164883e+09
125                  Nicaragua        2004 -8.012372e+09
126                  Nicaragua        2005 -6.823623e+09
...                        ...         ...           ...
3041228  Slovenia, Republic of        2020 -9.082449e+09
3041229  Slovenia, Republic of        2021 -4.550206e+09
3041230  Slovenia, Republic of        2022 -9.533159e+08
3041231  Slovenia, Republic of        2023  1.638024e+09
3041232  Slovenia, Republic of        2024  6.963623e+09

[8594 rows x 3 columns]

In [295]:
netdb = netdb.dropna(subset=['TIME_PERIOD'])
netdb['TIME_PERIOD'] = netdb['TIME_PERIOD'].astype(str).str.strip()


net

                       COUNTRY TIME_PERIOD     OBS_VALUE
122                  Nicaragua        2001 -7.681061e+09
123                  Nicaragua        2002 -8.420286e+09
124                  Nicaragua        2003 -9.164883e+09
125                  Nicaragua        2004 -8.012372e+09
126                  Nicaragua        2005 -6.823623e+09
...                        ...         ...           ...
3041228  Slovenia, Republic of        2020 -9.082449e+09
3041229  Slovenia, Republic of        2021 -4.550206e+09
3041230  Slovenia, Republic of        2022 -9.533159e+08
3041231  Slovenia, Republic of        2023  1.638024e+09
3041232  Slovenia, Republic of        2024  6.963623e+09

[8594 rows x 3 columns]

In [297]:
net = net.pivot_table(index='COUNTRY',columns='TIME_PERIOD',values='OBS_VALUE')
net = net.iloc[:,12:77]
net = net.reset_index()
net.columns.name = None 
net = country.merge(net, on='COUNTRY', how='left')
net = net.drop(columns=['COUNTRY'])
net

,Country,FIPS_CODE,1960,1961,1962,1963,1964,1965,1966,1967,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.706742e+09,5.359994e+09,5.896727e+09,6.317886e+09,6.751038e+09,7.545359e+09,NaN,NaN,NaN,NaN
1,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-4.811185e+09,-5.086479e+09,-6.465272e+09,-7.251536e+09,-7.492030e+09,-8.788837e+09,-8.499307e+09,-9.497409e+09,-1.058077e+10,-1.088967e+10
2,Algeria,DZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.239196e+11,9.464008e+10,8.636667e+10,6.728472e+10,4.771989e+10,3.236202e+10,2.748436e+10,4.358344e+10,5.213188e+10,5.061555e+10
3,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.630259e+10,-2.718432e+10,-3.693584e+10,-3.141299e+10,-2.874621e+10,-3.373947e+10,-3.126531e+10,-2.217051e+10,-2.033339e+10,-1.436950e+10
4,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.625683e+10,4.782390e+10,1.709389e+10,6.535497e+10,1.129218e+11,1.230633e+11,1.244374e+11,1.228677e+11,1.054647e+11,5.636061e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,"Venezuela, Bolivarian Republic",VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.187290e+11,1.069858e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,Viet Nam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Yemen,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.147966e+10,-2.434469e+10,-2.728652e+10,-2.891812e+10,-3.214700e+10,-2.799949e+10,-2.956110e+10,-3.041590e+10,-3.114621e+10,-3.117540e+10
187,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [299]:
with pd.ExcelWriter('GDPIMFNet.xlsx') as writer:
    net.to_excel(writer, sheet_name='net')
    workbook = writer.book
    worksheet1 = workbook.add_worksheet('net1')
    gdp.to_excel(writer, sheet_name='GDP')

after manually dividing here I import into sql db

In [300]:
#credit
workertransferrec1 = pd.read_excel("GDP+IMFCredit1.xlsx",sheet_name="workertransferrec1")
year_columns = [col for col in workertransferrec1.columns if str(col).isdigit()]
workertransferrec1['Earliest'] = workertransferrec1[year_columns].bfill(axis=1).iloc[:, 0]
workertransferrec1['MostRecent'] = workertransferrec1[year_columns].ffill(axis=1).iloc[:, -1]
workertransferrec1[year_columns + ['Earliest', 'MostRecent']] = workertransferrec1[year_columns + ['Earliest', 'MostRecent']].round(4)

workercomrec1 = pd.read_excel("GDP+IMFCredit1.xlsx",sheet_name="workercomrec1")
year_columns = [col for col in workercomrec1.columns if str(col).isdigit()]
workercomrec1['Earliest'] = workercomrec1[year_columns].bfill(axis=1).iloc[:, 0]
workercomrec1['MostRecent'] = workercomrec1[year_columns].ffill(axis=1).iloc[:, -1]
workercomrec1[year_columns + ['Earliest', 'MostRecent']] = workercomrec1[year_columns + ['Earliest', 'MostRecent']].round(4)

incsecrec1 = pd.read_excel("GDP+IMFCredit1.xlsx",sheet_name="incsecrec1")
year_columns = [col for col in incsecrec1.columns if str(col).isdigit()]
incsecrec1['Earliest'] = incsecrec1[year_columns].bfill(axis=1).iloc[:, 0]
incsecrec1['MostRecent'] = incsecrec1[year_columns].ffill(axis=1).iloc[:, -1]
incsecrec1[year_columns + ['Earliest', 'MostRecent']] = incsecrec1[year_columns + ['Earliest', 'MostRecent']].round(4)

#debit
incpayment1 = pd.read_excel("GDP+IMFDebit.xlsx",sheet_name="incpayment1")
year_columns = [col for col in incpayment1.columns if str(col).isdigit()]
incpayment1['Earliest'] = incpayment1[year_columns].bfill(axis=1).iloc[:, 0]
incpayment1['MostRecent'] = incpayment1[year_columns].ffill(axis=1).iloc[:, -1]
incpayment1[year_columns + ['Earliest', 'MostRecent']] = incpayment1[year_columns + ['Earliest', 'MostRecent']].round(4)

workertransferpaid1 = pd.read_excel("GDP+IMFDebit.xlsx",sheet_name="workertransferpaid1")
year_columns = [col for col in workertransferpaid1.columns if str(col).isdigit()]
workertransferpaid1['Earliest'] = workertransferpaid1[year_columns].bfill(axis=1).iloc[:, 0]
workertransferpaid1['MostRecent'] = workertransferpaid1[year_columns].ffill(axis=1).iloc[:, -1]
workertransferpaid1[year_columns + ['Earliest', 'MostRecent']] = workertransferpaid1[year_columns + ['Earliest', 'MostRecent']].round(4)

workercompaid1 = pd.read_excel("GDP+IMFDebit.xlsx",sheet_name="workercompaid1")
year_columns = [col for col in workercompaid1.columns if str(col).isdigit()]
workercompaid1['Earliest'] = workercompaid1[year_columns].bfill(axis=1).iloc[:, 0]
workercompaid1['MostRecent'] = workercompaid1[year_columns].ffill(axis=1).iloc[:, -1]
workercompaid1[year_columns + ['Earliest', 'MostRecent']] = workercompaid1[year_columns + ['Earliest', 'MostRecent']].round(4)

#net
net1 = pd.read_excel("GDPIMFNet.xlsx",sheet_name="net1")
year_columns = [col for col in net1.columns if str(col).isdigit()]
net1['Earliest'] = net1[year_columns].bfill(axis=1).iloc[:, 0]
net1['MostRecent'] = net1[year_columns].ffill(axis=1).iloc[:, -1]
net1[year_columns + ['Earliest', 'MostRecent']] = net1[year_columns + ['Earliest', 'MostRecent']].round(4)

In [231]:
#sql table; change table name each time you import 
conn = sqlite3.connect(r'C:\IFs\RUNFILES\IFsDataImport - Copy (9).db')
cursor = conn.cursor()
table_name = 'SeriesXWorkerTransferReceived%GDP'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"

workertransferrec1.to_sql(table_name, conn, if_exists='replace', index=False)

conn.commit()
conn.close()

In [233]:
#sql table; change table name each time you import 
conn = sqlite3.connect(r'C:\IFs\RUNFILES\IFsDataImport - Copy (9).db')
cursor = conn.cursor()
table_name = 'SeriesXWorkerCompenReceived%GDP'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"

workercomrec1.to_sql(table_name, conn, if_exists='replace', index=False)

conn.commit()
conn.close()

In [234]:
#sql table; change table name each time you import 
conn = sqlite3.connect(r'C:\IFs\RUNFILES\IFsDataImport - Copy (9).db')
cursor = conn.cursor()
table_name = 'SeriesXIncSecReceipts%GDP'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"

incsecrec1.to_sql(table_name, conn, if_exists='replace', index=False)

conn.commit()
conn.close()

In [235]:
#sql table; change table name each time you import 
conn = sqlite3.connect(r'C:\IFs\RUNFILES\IFsDataImport - Copy (9).db')
cursor = conn.cursor()
table_name = 'SeriesXIncSecPayments%GDP'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"

incpayment1.to_sql(table_name, conn, if_exists='replace', index=False)

conn.commit()
conn.close()

In [236]:
#sql table; change table name each time you import 
conn = sqlite3.connect(r'C:\IFs\RUNFILES\IFsDataImport - Copy (9).db')
cursor = conn.cursor()
table_name = 'SeriesXWorkerTransferPaid%GDP'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"

workertransferpaid1.to_sql(table_name, conn, if_exists='replace', index=False)

conn.commit()
conn.close()

In [237]:
#sql table; change table name each time you import 
conn = sqlite3.connect(r'C:\IFs\RUNFILES\IFsDataImport - Copy (9).db')
cursor = conn.cursor()
table_name = 'SeriesXWorkerCompenPaid%GDP'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"

workercompaid1.to_sql(table_name, conn, if_exists='replace', index=False)

conn.commit()
conn.close()

In [302]:
#sql table; change table name each time you import 
conn = sqlite3.connect(r'C:\IFs\RUNFILES\IFsDataImport - Copy (9).db')
cursor = conn.cursor()
table_name = 'SeriesNetIIP%GDP'
columns_sql = ['Country VARCHAR(255)', 'FIPS_CODE VARCHAR(255)']
columns_sql += [f'"{col}" DOUBLE(53)' for col in year_columns + ['Earliest', 'MostRecent']]
create_table_sql = f"CREATE TABLE '{table_name}' ({', '.join(columns_sql)})"

net1.to_sql(table_name, conn, if_exists='replace', index=False)

conn.commit()
conn.close()